.partnerWraper {
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 30px;
  height: 350px;
  box-shadow: 0px 4px 4px 0px #00000040;

}
.partnerBox img {
  width: 100%;
}
.partnerBox {
  padding: 2rem;
  width: 80%;
}
.h1 {
  margin-top: 2rem;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 1050px) {
  
  .partnerBox img{
    height: 100%;
    width: 100%;
  }
  .partnerWraper {
   display: grid;
   grid-template-columns: auto auto auto auto;
   height: 100%;
  }
}
@media (max-width: 700px) {
  
  .partnerBox img{
    height: 100%;
    width: 100%;
  }
  .partnerWraper {
    display: grid;
    grid-template-columns: auto auto ;
    height: 100%;
  }
}
@media (max-width: 550px) {
  
  .partnerBox img{
    height: 100%;
    width: 100%;
  }
  .partnerWraper {
    display: grid;
    grid-template-columns: auto ;
    height: 100%;
  }
}
