.FideWorkBoxWraper {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  overflow-x: scroll;
  flex-direction: row;
  margin-bottom: 1rem;
  margin: 1rem auto;
  gap: 2rem;
}
.FideWorkBox1 {
  height: 220px;
  width: 197px;
  border-radius: 25px;
  background-color: whitesmoke;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.FideWorkBox1 img {
  height: 136px;
  width: 100%;
}
.FideWorkBox1 p {
  font-family: "EB Garamond";
  font-size: 16px;
  line-height: 15px;
  font-weight: 900;
  padding: 10px;
}
