.NewsWraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  gap: 2rem;
  margin: 0 auto;
}
.NewsBox {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.NewsBox:hover{
  box-shadow: 5px 10px 20px 1px #00000040;
}
.NewsBox img {
  width: 100%;
}
.NewsBox Button {
  float: inline-end;
  margin: 1rem;
}
.NewsBox p {
  font-family: 'EB Garamond';
  margin: 2rem;
}
.NewsBox h4 {
  margin: 1rem;
  font-family: 'Bebas Neue';
  font-size: 22px;
  font-weight: 400;
}
.NewsBox h5 {
  margin: 1rem;
  font-family: 'Bebas Neue';
  font-size: 18px;
  font-weight: 400; 
}
@media (max-width: 482px) {
  .NewsBox {
    flex-direction: column;
    justify-content: space-between;
  }
  .NewsBox Button {
    float: inline-end;
  }
  .NewsWraper {
    flex-direction: column;
  }
  .NewsBox h2 {
    margin: 1rem;
  }
  .NewsBox h3 {
    margin: 1rem;
  }
}
