.CategoriesContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 3rem;
  margin: 0 auto;
}
.CategoriesContainer img {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.CategoriesColumn{
  padding-top: 1rem;
  padding-bottom: 1rem;  
  /* flex: 1;
  justify-content: space-between; */
}