.CategoriesContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 2rem;
  margin: 0 auto;
}
.CategoriesContainer img {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.column_photo img{
width: 293px;
height: 400px;
}
.CategoriesColumn {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.CategoriesColumn img{
  width: 253px;
  height: 186px;
}

