@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&family=DM+Sans:ital,wght@1,700&family=Oswald:wght@500&display=swap");
.eventPage {
  display: flex;
  flex-direction: column;
}
.eventPage .file-chooser {
  padding-top: 5px;
}
.eventPage .cover-s {
  padding: 0 1em;
}
.eventPage .cover-s .tt {
  display: flex;
}
.eventPage .cover-s .tt .titledes {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.eventPage .cover-s .tt .titledes label {
  font-size: 11px;
  margin-left: 5px;
  margin-bottom: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
.eventPage .cover-s .tt .titledes input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 30px;
  font-size: 14px;
  border-color: #C5801A;
  opacity: 0.4;
  padding-bottom: 0;
}
.eventPage .cover-s .tt .titledes input:focus {
  outline: none;
}
.eventPage .cover-s .timeloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}
.eventPage .cover-s .timeloc .tim {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.eventPage .cover-s .timeloc .tim label {
  font-size: 11px;
  margin-left: 5px;
  margin-bottom: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
.eventPage .cover-s .timeloc .tim select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 30px;
  font-size: 11px;
  padding-bottom: 0;
  border-color: #C5801A;
  opacity: 0.4;
  font-family: "Anek Telugu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
.eventPage .cover-s .timeloc .tim select:focus {
  outline: none;
}
.eventPage .cover-s .desc {
  display: block;
  margin-top: 10px;
}
.eventPage .cover-s .desc .description {
  display: flex;
  flex-direction: column;
}
.eventPage .cover-s .desc .description label {
  font-size: 11px;
  margin-left: 5px;
  margin-bottom: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
.eventPage .cover-s .desc .description select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 30px;
  font-size: 11px;
  padding-bottom: 0;
  border-color: #C5801A;
  opacity: 0.4;
  font-family: "Anek Telugu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
.eventPage .cover-s .desc .description select:focus {
  outline: none;
}
.eventPage .cover-s .buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anek Telugu", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #C5801A;
}
.eventPage .cover-s .buttons:hover {
  background: #FFB636;
  transition: 0.3;
  width: 30%;
  height: 40px;
  border-radius: 5px;
}/*# sourceMappingURL=unionAdd.css.map */