

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');




@mixin lebels {
    font-size:12px;
    margin-left:5px;
    margin-bottom: 0;
    
    
}
@mixin location{
    border:none;
    border:2px solid rgba(0,0,0,0.4);
    height: 40px;
    font-size: 12px;
    padding-bottom: 0;   
    border-color: #C5801A;
    opacity:.4;   
     border-radius: 5px;
}
@mixin inputs{
    width:100%;
    border:none;
    border-radius: 5px;
    border:2px solid rgba(0,0,0,0.5);
    height: 40px;
    font-size: 12px;
    border-color: #C5801A;
    opacity:.4;
    padding-bottom: 0;

    

    
    &:focus{
        outline:none;
    }
}
@mixin dated{
    border:none;
    border:2px solid rgba(0,0,0,0.5);
    height: 40px;
    font-size: 12px;
    
    padding-bottom: 0;
    border-radius: 5px;
    border-color: #C5801A;
    opacity:.4;
    
    &:focus{
        outline:none;
    }
}
@mixin  texting {
    
    border:none;
    border:2px solid rgba(0,0,0,0.4);
    margin-left: 5px;
    height: 85px;
    border-radius: 5px;
    border-color: #C5801A;
    opacity:.4;
    &:focus{
        outline:none;
    }
    
}



 

.eventPage{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
   width: 700px;
    
.file-chooser{
    padding-top: 12px;
}

        .title{
            background-color: #C5801A;  
            height:60px;
                display: flex;
                align-items: center;
                justify-content: center;

            span{
                // font-family: 'Roboto Mono', monospace;
            font-size: 40px;
                
        }
        }
            .cover-s{

                padding: 0 4em;

        
                .tt{
                    display: flex;
                    .titledes{
                        flex: 1;    
                        flex-direction: column;
                        flex-wrap: wrap;
                        label{
                            @include lebels();
                        }
                        input{
                            @include inputs()
                        }
                      
                    }
                }
                .timeloc{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-top: 12px;

                    .tim{
                        display:flex;
                        flex-direction:column;
                        width: 30%;
                        label{
                            @include lebels();
                        }
                        select{
                            @include location()
                        }
                    }
             
                }
                .desc{
                    display:block;
                    margin-top: 10px;
                    
                    .description{
                        display:flex;
                        flex-direction: column;
                        label{
                            @include lebels();
                        }
                      select{
                            option{
                                @include texting()
                            }
                      }
                    }
                    
                }
                
        
        
        
        
                
                .buttons{
                    // width: 100%;
                    margin-top: 12px;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    .btn{
                        width:30%;
                        height:50px;
                        font-size:20px ;
                        color: black;
                        opacity: .4px;
                         
                        background-color:#C5801A; 
                        border-radius: 10px; 
        
        
                        &:hover{
                            background: #FFB636;
                            transition: .3 ;
        
        
                            
                        }
        
                     
                    }
                }
            }
        

}
