.home {
  display: flex;
  .homeContainer {
      // background:red;
      display: flex;
      margin-left: 15%;
      flex-direction: column;
    .charts {
      display: flex;
      padding-top:10px;
    }
   
    .artist-table{
      // width:85%;
      padding: 0 4.5%;
      flex: 4;
      // background-color:green;

      .tbl-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn{
          cursor:pointer;
          width:150px;
          background-color:#FFB636;    
          height: 40px;
          border-radius: 6px;
          font-size:11px;
          margin-bottom: 0px;
          box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.5);

          &:hover{
            transition:ease .2;
            border-radius: 6px;
            opacity: .4px;
            border:1.5px solid ;
            background:transparent;
            font-size:11px;
            padding: 5px 0px;

             }
        }
        .upl-CSV{
          // margin-bottom: 0px;
          height: 40px;
          display: inline-block;
          padding-top: 3px;

            input{
              width: 300px;
              margin-right: 0px;
              margin-top: 2px;

            }

          .btn-upload{
            width:60px;
            font-size: 8px;
            height: 30px;
            border-radius: 5px;
            // margin-bottom: 2px;
            border: none;
            background-color:#FFB636;    
            font-size:11px;
            &:hover{
              transition:ease .2;
              border-radius: 5px;
              opacity: .4px;
              border:1.5px solid ;
              background:transparent;
            
            }

          }
        }
       
      }
    }

  }
  
 
 
}
