* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../assets/photos/mainphoto.jpg");
  background-size: cover;
  height: 95vh;
  width: 100%;
}
.WlcText {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  align-self: flex-start;
}
.WlcText1 {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: white;
}
.Button {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  border-color: white;
}
.MainContent {
  width: 500px;
  margin: 0 0 0 2rem;
}
@media (min-width: 375px) {
  .MainContent {
    width: 100%;
    margin: 2rem;
  }
  .WlcText {
    font-size: 30px;
    font-weight: 700;
    float: left;
  }
  .WlcText1 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 2rem;
  }
}
@media (min-width: 412px) {
  .MainContent {
    width: 100%;
    margin: 1rem;
  }
  .WlcText {
    font-size: 30px;
    font-weight: 700;
  }
  .WlcText1 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 2rem;
  }
}
@media (min-width: 360px) {
  .MainContent {
    width: 100%;
    margin: 1rem;
  }
  .WlcText {
    font-size: 30px;
    font-weight: 700;
    padding-right: 2rem;
  }
  .WlcText1 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 2rem;
  }
}
@media (min-width: 412px) {
  .MainContent {
    width: 100%;
    margin: 1rem;
  }
  .WlcText {
    font-size: 30px;
    font-weight: 700;
    padding-right: 2rem;
  }
  .WlcText1 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 2rem;
  }
}
@media (min-width: 820px) {
  .MainContent {
    width: 100%;
    margin: 1rem;
    height: 50px;
  }
  .WlcText {
    font-size: 30px;
    font-weight: 700;
    padding-right: 2rem;
  }
  .WlcText1 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .MainContent {
    width: 100%;
    margin: 1rem;
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  .WlcText {
    font-size: 30px;
    font-weight: 700;
    padding-right: 2rem;
  }
  .WlcText1 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 2rem;
  }
  .Button {
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    border-color: white;
  }
}