
.FideBox {
  height: 220px;
  width: 197px;
  border-radius: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.FideBox:hover{
  box-shadow: 5px 10px 20px 1px #00000040;
}
.FideBox img {
  height: 129px;
  width: 150px;
}
.FideBox h4{
  text-align: center;
  font-size: 16px;
}
.FideBox p{
  font-family: 'EB Garamond';
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  padding: 10px;
}
