.FideBoxWraper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
  margin-bottom: 1rem;
  margin: 1rem auto;
  gap: 2rem;
}
.FideBox {
  height: 220px;
  width: 197px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.FideBox img {
  height: 129px;
  width: 150px;
}
.FideBox h4{
  text-align: center;
  font-size: 16px;
}
.FideBox p{
  font-family: 'EB Garamond';
  font-size: 16px;
  line-height: 15px;
  padding: 0 1rem 0 1rem;
}
