


@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&family=DM+Sans:ital,wght@1,700&family=Oswald:wght@500&display=swap');


@mixin lebels {
    font-size:11px;
    margin-left:5px;
    margin-bottom: 0;
   
    
}

@mixin inputs{
    width:100%;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
    padding:5px;
    font-size: 14px;
    height:30px;

    

    
    &:focus{
        outline:none;
    }
}



 

.reg-Page{
    display: flex;
    flex-direction: column;
   
            .cover-pad{

                padding: 0 1.2em;

        
                .tt-side{
                    display: flex;
                    margin-top: .3em;
                    .des{
                        flex: 1;    
                        flex-direction: column;
                        flex-wrap: wrap;
                        label{
                            @include lebels();
                        }
                        input,select{
                            @include inputs()
                        }
                      
                    }
                }
               
          
                
        
        
        
        
                
               
                }
            }
        


