.ContactHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  width: 70%;
}
.ContactHeader h1 {
  color: #c5801a;
}
.ContactHeader p {
  font-family: 'EB Garamond';
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}
.ServiceBoxWraper {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  width: 80%;
  gap: 2rem;
  margin: 1rem auto; 
}
@media (max-width: 482px) {
  .ServiceBoxWraper {
    grid-template-columns: auto;
    justify-content: space-between;
  }
}