.loginMainWraper {
  display: flex;
  padding-top: 2rem;
}
.loginWraper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  padding-top: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 3rem auto;
  background-color: white;
  padding: 2em;
  margin-top: -120px;
  height: 500Px;
}
.mapouter {
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 3rem auto;
}
