.EventsWraper {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  margin: 2rem auto;
}
@media (max-width: 482px) {
  .EventsWraper {
    grid-template-columns: auto;
    justify-content: space-between;
  }
}
.EventSearchWraper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 2rem auto;
}
.EventSearchWraper h1 {
  font-family: 'Bebas Neue';
  font-size: 52px;
  font-weight: 400;
  line-height: 70px;
}
.EventSearchBox {
  justify-content: space-between;
  display: flex;
}
.EventSearchBox input {
  padding: 2rem;
}
.EventSearchBox ::placeholder {
  font-size: small;
}
