.EventSearchWraper {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 2rem auto;
}
.EventSearchBox {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.EventSearchBox input {
  height:max-content;
  width: max-content;
  box-shadow: 5px 5px 5px 5px rgb(70, 69, 69);
}
.EventSearchWraper h1 {
  font-family: "Raleway";
  font-size: 52px;
  font-weight: 400;
  line-height: 70px;
}
.EventSearchBox ::placeholder {
  font-size: small;
}
.EventsWraper {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  margin: 2rem auto;
  gap: 3rem;
}

/* @media (max-width: 482px) {
  .EventSearchWraper{
    display: flex;
    flex-direction: column;
  }
  .EventSearchBox{
    display: flex;
    flex-direction: column;
  }
  .EventsWraper {
    grid-template-columns: auto;
    justify-content: space-between;
    padding:1rem;
  }
}
@media (max-width: 820px) {
  .EventSearchBox{
    display: flex;
    flex-direction: column;
  }
  .EventsWraper {
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 90%;
    padding:1rem;
  }
}
@media (max-width: 768px) {
  .EventSearchBox{
    display: flex;
    flex-direction: column;
  }
  .EventsWraper {
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 100%;
    padding:1rem;
  }
}
@media (max-width: 912px) {
  .EventsWraper {
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 80%;
    padding:1rem;
  }
}
@media (max-width: 912px) {
  .EventsWraper {
    grid-template-columns: auto;
    justify-content: space-between;
    width: 100%;
    padding:1rem;
  }
}
@media (max-width: 1024px) {
  .EventsWraper {
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 80%;
    padding:1rem;
  }
}
@media (max-width:1280px) {
  .EventsWraper {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 100%;
    padding:1rem;
  }
}
@media (max-width:375px) {
  .EventsWraper {
    grid-template-columns:auto;
    justify-content: space-between;
    width: 100%;
    padding:1rem;
  }

} */
