.GalleryCategorie{
 display: flex;
 justify-content: space-between;
 width: 50%;
 margin: 2rem auto;
 list-style: none;
 cursor: pointer;
 font-weight: bold;
}
.PhotoAlbum{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    gap: 2rem;
    padding-left: 1rem; 
}
