.mainWraper{
  min-height:100vh;
  background-color:#e1e3ef;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: whitesmoke;
}
.registerWraper {
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 30%;
  padding-top: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 1rem auto;
  background-color: white;
  padding: 2em;
}
.registerWraper ::placeholder{
  font-size: small;
}
@media (max-width:858px)  {
.registerWraper{
  width: auto;
}
  
}
@media (max-width:912px)  {
  .registerWraper{
    width: auto;
  }
    
  }