.registerMainWraper {
  padding-top: 2rem;
}
.registerWraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 30%;
  padding-top: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 5rem auto;
  background-color: white;
  padding: 2em;
}
.registerWraper ::placeholder{
  font-size: small;
}