.EventCardWraper {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
}
.EventCard {
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 8%;
  box-shadow: 0 0 22px #3336;
  margin: 0 25px;
}
@media (min-width: 373px) {
  .loginWraper {
  }
}
