.union-home{
    display:flex;
    .union-body{
        margin-left: 15%;
        display: flex;
        width: 85%;
        flex-direction: column;

        .add-union{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}