.Event_container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}
.Event_container h1{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 100%;
}
.Event_container p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.Event_container button{
    background-color: #C5801A;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
}
.Event_container button:hover{
    background-color: #ab9068;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
}
.Event_container button:focus{
    outline: none;
}
.Event_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}