.eventBoxWraper {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  gap: 2rem;
  margin: 1rem auto;
}
.PreviusEvent{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0rem auto;
  gap: 1rem;
}
.PreviusEvent iframe{
  box-shadow: 0px 1px 1px 0px rgb(70, 69, 69);
}
.heading{
  font-family: "Raleway";
  font-size: 25px;
  font-weight: bolder;
  line-height: 70px; 
  margin-left: 2rem;
  margin-bottom: 2rem;
}

@media (max-width:700px){
  .PreviusEvent{
    display: grid;
      grid-template-columns: auto;
      margin: 0 auto; 
    }
    .PreviusEvent iframe{
      width: 100%;
    }
    .EventSearchBox {
      display: flex;
   flex-direction: column;
    }
    .EventSearchWraper{
      flex-direction: column;
    }
}
@media (max-width:550px){
  .PreviusEvent{
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;  
    }
    .PreviusEvent iframe{
      width: 100%;
    }
    .EventSearchBox {
      display: flex;
   flex-direction: column;
    }
    .EventSearchWraper{
      flex-direction: column;
    }
}