.PageIndicator {
    display: flex;
    background-image: url("../../assets/photos/mainphoto.jpg");
    background-size: cover;
    align-items: center;
    height: 75vh;
    width: 100%;
  }
  .Gallery {
    display: flex;
    font-family: "Rubik Moonrocks";
    color: white;
    font-size: 96px;
    font-weight: 400;
    line-height: 36px;
    margin: 1rem auto;
    
  }
  @media (min-width:375px) {
    .Gallery {
      display: flex;
      font-family: "Rubik Moonrocks";
      color: white;
      font-size: 96px;
      font-weight: 400;
      line-height: 86px;
      margin: 1rem auto;
      
    }
  }
  @media (min-width:360px) {
    .Gallery {
      display: flex;
      font-family: "Rubik Moonrocks";
      color: white;
      font-size: 90px;
      font-weight: 400;
      line-height: 86px;
      margin: 1rem auto;
     
    }
  }